{% set content = content ?? '' %}
{% set actionLink = actionLink ?? null %}

<div class="prose">
    {{ content|raw }}
</div>

{% if actionLink %}
    {% if content %}
        <br><br>
    {% endif %}
    <div>
        <a
            href="{{ actionLink.href }}"
            class="font-medium text-jade hover:text-deep-sea"
        >
            {{ actionLink.content }}
        </a>
    </div>
{% endif %}
