#------------------------------------
# Project
#------------------------------------





#------------------------------------
# Tools
#------------------------------------

.php_cs.cache
.phpunit.result.cache
.env.local
/*-workspace
/node_modules
/*.sublime-*
/vendor/*





#------------------------------------
# System
#------------------------------------

.cache
.DS_Store
.tmp
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db





#------------------------------------
# Gitkeep
#------------------------------------

!.gitkeep
