<footer class="bg-nandor dark:bg-mine-shaft-dark relative z-40">
    <div class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
            <div class="px-5 py-2">
                <a
                    href="{{ siteUrl('/cookies') }}"
                    class="text-base leading-6 text-gray-200 hover:text-white"
                >
                    Cookie Policy
                </a>
            </div>
            <div class="px-5 py-2">
                <a
                    href="{{ siteUrl('/privacy') }}"
                    class="text-base leading-6 text-gray-200 hover:text-white"
                >
                    Privacy Policy
                </a>
            </div>
            <div class="px-5 py-2">
                <a
                    href="{{ siteUrl('/terms') }}"
                    class="text-base leading-6 text-gray-200 hover:text-white"
                >
                    Terms of Service
                </a>
            </div>
        </nav>
        <div class="mt-8">
            <p class="text-center text-base leading-6 text-gray-400">
                &copy; {{ 'now'|date('Y') }} BuzzingPixel, LLC. All rights&nbsp;reserved.
            </p>
        </div>
    </div>
</footer>
