{#<div class="mt-6 grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2">
    #}{# Card #}{#
    <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
            <div class="flex items-center">
                <div class="w-0 flex-1">
                    <dl>
                        <dt class="text-md font-bold text-gray-800 truncate">
                            Public Issues
                        </dt>
                        <dd>
                            <div class="text-base font-medium text-gray-500">
                                {{ 'When possible, public issues are great because others can benefit from and jump in the conversation, they make a searchable archive of problem solving, and they help the community.'|smartypants|widont }}
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="bg-gray-50 px-5 py-3">
            <div class="text-sm">
                <a href="/support/new-issue?type=public" class="font-medium text-meteor hover:text-rich-gold">
                    Create Public Issue &raquo;
                </a>
            </div>
        </div>
    </div>
    #}{# End card #}{#
    #}{# Card #}{#
    <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
            <div class="flex items-center">
                <div class="w-0 flex-1">
                    <dl>
                        <dt class="text-md font-bold text-gray-800 truncate">
                            Private Issues
                        </dt>
                        <dd>
                            <div class="text-base font-medium text-gray-500">
                                {{ 'Sometimes you need to discuss an issue privately because of the sensitive nature of it, or the data involved. This is the place to open a ticket and chat directly and privately about those.'|smartypants|widont }}
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="bg-gray-50 px-5 py-3">
            <div class="text-sm">
                <a href="/support/new-issue?type=private" class="font-medium text-meteor hover:text-rich-gold">
                    Create Private Issues &raquo;
                </a>
            </div>
        </div>
    </div>
    #}{# End card #}{#
</div>#}
