{% set href = href ?? block('href') ?? '' %}
{% set colorType = colorType ?? block('colorType') ?? null %}
{% set content = content ?? block('content') ?? '' %}
{% set additionalClasses = additionalClasses ?? '' %}

{% switch colorType %}
    {% case 'danger' %}
        {% set colorClasses = 'text-white bg-light-red hover:bg-red focus:ring-light-red' %}
    {% default %}
        {% set colorClasses = 'text-white bg-meteor hover:bg-pumpkin-skin focus:ring-whiskey' %}
{% endswitch %}

<a
    href="{{ href }}"
    type="button"
    class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm
    focus:outline-none focus:ring-2 focus:ring-offset-2 {{ colorClasses }} {{ additionalClasses }}"
>
    {{ content|smartypants }}
</a>
