{# @var \Config\General GeneralConfig #}
{# @var \App\Http\Utilities\Segments\UriSegments UriSegments #}

{% if UriSegments.segment(1) == 'admin' %}
    {% set banner = {
        content: 'Admin Area',
    } %}
{% else %}
    {% set banner = GeneralConfig.siteBanner %}
{% endif %}

{% extends 'Http/_Infrastructure/_Skeleton.twig' %}

{% block skeletonContent %}
    {% include 'Http/_Infrastructure/Global/MainNav.twig' only %}
    {% include 'Http/_Infrastructure/Banners/CenteredStrip.twig' with {
        banner: banner,
    } only %}
    <div class="min-h-screen-minus-header-and-footer">
        {% block content %}
            <div class="p-10">
                <div class="border-4 border-dashed border-gray-200 rounded-lg h-96"></div>
            </div>
        {% endblock %}
    </div>
    {% include 'Http/_Infrastructure/Global/Footer.twig' only %}
{% endblock %}
