{% extends '@app/Http/Response/Account/_AccountLayout.twig' %}

{% block accountContent %}
    <div class="py-6">
        {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
            href: '/admin/exports/licenses-for-doug',
            content: 'Export Licenses for Doug'
        } only %}
        {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
            href: '/admin/exports/construct-licenses',
            content: 'Export Construct Licenses'
        } only %}
        {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
            href: '/admin/exports/construct-orders',
            content: 'Export Construct Orders'
        } only %}
        <br><br><hr><br><br>
        {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
            href: '/admin/exports/licenses-for-brian',
            content: 'Export Licenses for Brian'
        } only %}
        {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
            href: '/admin/exports/ansel-licenses',
            content: 'Export Ansel Licenses'
        } only %}
        {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
            href: '/admin/exports/ansel-orders',
            content: 'Export Ansel Orders'
        } only %}
    </div>
{% endblock %}
