{% extends '@app/Http/Response/Account/_AccountLayout.twig' %}

{% block accountContent %}
    <div class="py-6">
        {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
            href: '/admin/exports/ansel-licenses',
            content: 'Export Ansel Licenses'
        } only %}
    </div>
{% endblock %}
