.js-hide {
    display: none !important;
}

@screen md {
    .md\:width-1\/2--space-right {
        width: calc(50% - 5px);
        margin-right: 5px;
    }

    .md\:width-1\/2--space-left {
        width: calc(50% - 5px);
        margin-left: 5px;
    }
}
