.documentation__content {
    padding-bottom: calc(100vh - 100px);
}

.documentation__content-prose {
    max-width: none;
}

@screen lg {
    .documentation__navs {
        height: calc(100vh - 45px);
        top: 45px;
    }
}
