{% extends 'Http/_Infrastructure/_Layout.twig' %}

{% set message = flash('RegisterFormMessage') %}
{% if message[0] is defined %}
    {% set message = message[0] %}
{% endif %}

{% block content %}
    <div class="min-h-screen-minus-header-and-footer bg-gray-50 flex flex-col justify-center py-6 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="text-center text-3xl font-extrabold text-gray-900 px-4 sm:px-0">
                Register an Account
            </h2>
        </div>
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            {% if message['status'] is defined %}
                <div class="mb-4">
                    {% include 'Http/Components/Alert.twig' with {
                        content: message.result.message|default(''),
                        type: 'error',
                    } only %}
                </div>
            {% endif %}
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form
                    class="space-y-6"
                    action="/account/register"
                    method="POST"
                    accept-charset="UTF-8"
                >
                    <input type="hidden" name="{!--csrfTokenNameKey--}" value="{!--csrfTokenName--}">
                    <input type="hidden" name="{!--csrfTokenValueKey--}" value="{!--csrfTokenValue--}">
                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-700">
                            Email address
                        </label>
                        <div class="mt-1">
                            <input
                                id="email"
                                name="email"
                                type="email"
                                autocomplete="email"
                                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-whiskey focus:border-whiskey sm:text-sm"
                                required
                            >
                        </div>
                    </div>
                    <div>
                        <label for="password" class="block text-sm font-medium text-gray-700">
                            Password
                        </label>
                        <div class="mt-1">
                            <input
                                id="password"
                                name="password"
                                type="password"
                                autocomplete="current-password"
                                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-whiskey focus:border-whiskey sm:text-sm"
                                required
                            >
                        </div>
                    </div>
                    <div>
                        <button
                            type="submit"
                            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-meteor hover:bg-pumpkin-skin focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-whiskey"
                        >
                            Register
                        </button>
                    </div>
                    <div class="text-sm">
                        <a
                            href="/account"
                            class="font-medium text-meteor hover:text-rich-gold"
                        >
                            &larr; Back
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
