{% set language = language ?? block('language') ?? '' %}
{% set codeContent = codeContent ?? block('codeContent') %}
<div class="my-5">
    <pre class="language-{{ language }}"><code>{% apply escape %}{{ codeContent|raw }}{% endapply %}</code></pre>
</div>
