{# @var string heading #}
{# @var array navItems #}
{# @var \App\Content\Changelog\ChangelogPayload changelog #}
{# @var string baseUri #}

{% extends 'Http/_Infrastructure/_Layout.twig' %}

{% block content %}
    {# Nav #}
    {% include 'Http/Components/NavBar.twig' with {
        navItems: navItems,
    } only %}

    <div class="relative bg-white overflow-hidden">
        <div class="relative px-4 sm:px-6 lg:px-8">
            <div class="text-lg max-w-prose mx-auto">
                <h1 class="text-4xl font-extrabold text-aqua-deep sm:tracking-tight mb-0 mt-8">
                    {{ heading }}
                </h1>
            </div>
        </div>
    </div>

    {# Changelog #}
    {% for release in changelog.releases %}
        {% include 'Http/Changelog/Item.twig' with {
            baseUri: baseUri,
            release: release,
        } only %}
        {% if not loop.last %}
            <div class="relative bg-white overflow-hidden">
                <div class="relative px-4 sm:px-6 lg:px-8">
                    <div class="text-lg max-w-prose mx-auto">
                        <hr>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
