{% extends 'Http/_Infrastructure/_LayoutDocumentation.twig' %}

{% block content %}
    {% apply smartypants %}
        {% include 'Http/DocumentationComponents/AnchorHeading.twig' with {
            heading: 'Page Creation',
            level: 'h2',
        } only %}

        <p>The standard Construct field type is for the creation of Nodes right from entries.</p>

        <p>Construct does not automatically add a publish tab or a field to your publish layout. There are two reasons for this:</p>

        <ul>
            <li>The developer should define the publish layout and Construct does not want to make any assumptions.</li>
            <li>You might only have one channel/field group that will make use of Construct for pages so having a publish tab and field on every channel layout to be hidden at the creation of every channel does not seem sensible.</li>
        </ul>

        <p>Additionally, the Page Creation field type is not required to use Construct. You may prefer to always manage your pages in the Construct Control panel, and that’s fine &mdash; in fact, that is my preference.</p>

        <p>So, the Construct field type needs to be added to any field group you want it to be a part of. You add it just like you do any other field.</p>

        <ul>
            <li>Navigate to the field group you would like to add the Construct field type to</li>
            <li>Create a new channel field</li>
            <li>In the "Type" drop down, select "Construct"</li>
            <li>Name the field whatever will make the most sense to your end users.</li>
            <li>Click "Save Field" and you're done!</li>
        </ul>
    {% endapply %}
{% endblock %}
